include README.md
include README_VIE.md
include LICENSE
include pyproject.toml
include setup.py
include Makefile
recursive-include include *
recursive-include src *
recursive-include tests *
recursive-include docs-vie *
recursive-include docs-en *
